
<header>Mobile Application</header>
<h1>{{title}}</h1>
<main >
  <h2>Select a Person:</h2>
<ul>
      <li *ngFor="let names of studentRecords; let i=index;"(click)="selectStudent(i)"><label>{{names["firstName"]}}</label></li>
</ul>
  <div fxFlex="30%"></div>
<div class="grid">
<label class="lbl">FirstName: </label> <label>{{student["firstName"]}}</label><br>
  <label class="lbl">LastName: </label><label>{{student["lastName"]}}</label><br>
  <label class="lbl">ProgramID: </label><label>{{student["programId"]}}</label><br>
  <label class="lbl">ProgramYear: </label><label>{{student["programYear"]}}</label><br>
  <label class="lbl">ProgramCoop: </label><label>{{student["programCoop"]}}</label><br>
  <label class="lbl">ProgramInternship: </label> <label>{{student["programInternship"]}}</label><br>
</div>
</main>
<app-footer></app-footer>
